<h2>Inventory Management System</h2>
<h3><%= link_to 'Manufacturer', controller: 'manufacturers' %>
<%= link_to 'Product', controller: 'products' %>
<%= link_to 'Purchase', controller: 'purchases' %>
<%= link_to 'Employee', controller: 'employees' %>
<%= link_to 'Location', controller: 'locations' %>
<%= link_to 'Stock', controller: 'stocks' %>
<%= link_to 'Restock', controller: 'restocks' %></h3>
<p>
  <strong>ID:</strong>
  <%= @stock.id %>
</p>
<p>
  <strong>Product:</strong>
  <%= @product %>
</p>
<p>
  <strong>Location:</strong>
  <%= @location %>
</p>
<p>
  <strong>Quantity Left:</strong>
  <%= @stock.quantity_left %>
</p>
<p>
  <strong>Alarm Threshold:</strong>
  <%= @stock.alarm_threshold %>
</p>
