<h3><%= link_to 'Manufacturer', controller: 'manufacturers' %>
<%= link_to 'Product', controller: 'products' %>
<%= link_to 'Purchase', controller: 'purchases' %><br>
<%= link_to 'Manager', controller: 'managers' %>
<%= link_to 'Location', controller: 'locations' %></h3>
<h3>Purchase Page</h3>
<p>
  <strong>ID:</strong>
  <%= @purchase.id %>
</p>
<p>
  <strong>Invoice Number:</strong>
  <%= @purchase.invoice_number %>
</p>
<p>
  <strong>Timestamp:</strong>
  <%= @purchase.created_at %>
</p>
<p>
  <strong>Vending Machine</strong>
  <%= @purchase.vending_machine %>
</p>
<p>
  <strong>Total Amount:</strong>
  <%= @purchase.total_amount %>
</p>
<h4>Purchase Details</h4>
<% @items.each do |f| %>
  <p>
    <strong>Product:</strong>
    <%= Product.find(f.product_id).name %>
  </p>
  <p>
    <strong>Quantity:</strong>
    <%= f.quantity %>
  </p>
  <p>
    <strong>Unit Price:</strong>
    <%= f.unit_price %>
  </p>
<% end %>
