<h2>Inventory Management System</h2>
<h3><%= link_to 'Manufacturer', controller: 'manufacturers' %>
<%= link_to 'Product', controller: 'products' %>
<%= link_to 'Purchase', controller: 'purchases' %>
<%= link_to 'Employee', controller: 'employees' %>
<%= link_to 'Location', controller: 'locations' %>
<%= link_to 'Stock', controller: 'stocks' %>
<%= link_to 'Restock', controller: 'restocks' %></h3>
<h3>Product Page</h3>
<p>
  <strong>ID:</strong>
  <%= @product.id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p>
  <strong>Manufacturer:</strong>
  <%= @manufacturer %>
</p>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
<p>
  <strong>Quantity Sold:</strong>
  <%= @product.quantity_sold %>
</p>
<p>
  <strong>Quantity Left:</strong>
  <%= @product.quantity_left %>
</p>
<p>
  <strong>Archieved?</strong>
  <%= @product.archieved %>
</p>
