<h2>Inventory Management System</h2>
<h3><%= link_to 'Home', controller: 'homepage' %>
<%= link_to 'Manufacturer', controller: 'manufacturers' %>
<%= link_to 'Product', controller: 'products' %>
<%= link_to 'Purchase', controller: 'purchases' %>
<%= link_to 'Employee', controller: 'employees' %>
<%= link_to 'Location', controller: 'locations' %>
<%= link_to 'Stock', controller: 'stocks' %>
<%= link_to 'Restock', controller: 'restocks' %>
<%= link_to 'Transfer', controller: 'transfers' %>
<%= link_to 'Vending Machine', controller: 'vending_machines' %></h3>
<h3>List all Locations</h3>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Manager</th>
    <th>Note</th>
    <th colspan = "3"> </th>
  </tr>
  <% @locations.each do |location| %>
    <tr>
      <td><%= location.id %></td>
      <td><%= location.name %></td>
      <td><%= location.address %></td>
      <td><%= Employee.find(location.manager_id).name %></td>
      <td><%= location.note %></td>
      <td><%= link_to 'Details', location_path(location) %></td>
      <td><%= link_to 'Edit', edit_location_path(location) %></td>
      <td><%= link_to 'Destroy', location_path(location), :method => :delete, :confirm => 'Are you sure?' %></td>
    </tr>
  <% end %>
</table>
<p><%= link_to  'Add Location', new_location_path() %></p>
